body {
    width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
#miCanvas {
    border: groove 2px red;
    background: black;
    box-shadow: 10px 10px 10px #888888;
}
input {
    height: 100px;
    width: 200px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    top: 630px;
    left: 65%;


}